/* ESTRUCTURA CARDS*/
.imagen{
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;
    border-radius: 5px;
    --bs-card-spacer-x: 10px;
    
  }
  .imagen:hover{
    --escala: 1.1;
    cursor:pointer;
  }
  /*IMAGEN DENTRO CARDS*/
  .imagenPerfil{
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
  }
  /*COLOR DE LAS CARDS*/
  .card-body{
    background-color:#E6F0F2;
  }
  .col-md-4{
    background-color:#EFEFEF;
  }
  /*BOTON DENTRO DE CARDS*/
  .button{
    background-color: #9EBECB;
    border-radius: 2px;
  }
  .button:hover{
    background-color:#7296A4;
    color:#E6F0F2;
  }