/* ESTRUCTURA CARDS*/
.card{
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;
    border-radius: 5px;
    --bs-card-spacer-x: 10px;
    background-color:#9EBECB;
    margin-bottom: 10px;
    
  }
  .card-body{
    padding: 20px 15px;
    text-align: justify;
    background-color: #7296A4;
  }
  .card:hover{
    --escala: 1.1;
    cursor:pointer;
  }
  /*CONTENIDO DENTRO DE LAS CARDS (IMAGEN)*/
  .imagen{
    width: 100%;
    display: block;
  }
  /*DESCRIPCION*/
  .descripcion{
    text-align:center;
  }
  /*BOTON DENTRO DE CARDS*/
  .button{
    background-color: #9EBECB;
    border-radius: 2px;
    display: block;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    
  }
  .button:hover{
    background-color:#7296A4;
    color:#E6F0F2;
    display: block;
  }
  .contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;

  }