* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.twopart {
  height: 500px;
  background: white;
}

.part1 {
  background: #3eafa8;
}

.content1 h2 {
  font-size: 50px;
  padding: 5px;
}

.content1 p {
  font-size: 20px;
  padding: 20px;
}

.content2 h2 {
  color: #3eafa8;
  font-size: 50px;
  padding: 5px;
}

.content2 p {
  color: #3eafa8;
  font-size: 20px;
  padding: 20px;
}

.gal img {
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gal .hover {
  width: 0%;
  height: 100%;
  background-color: #080808bb;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hover h2 {
  color: white;
  text-shadow: 1px 1 px 1px black;
  font-size: 2.5em;
  text-transform: uppercase;
}

.gal:hover .hover {
  width: 100%;
}

.contenttext {
  height: 500px;
}

.contenttext h2 {
  color: #3eafa8;
  font-size: 60px;
  text-shadow: black 12px 0px 20px;
}

.contenttext p {
  font-size: 20px;
  text-shadow: black 12px 0px 20px;
}

.carousel {
  width: 100%;
}

.treepart {
  height: 500px;
}

.partblue {
  background: #3eafa8;
}

.partgray {
  background: rgb(75, 74, 74);
}

.contentblue h2 {
  font-size: 30px;
  padding: 5px;
}

.contentblue img {
  width: 200px;
  height: 200px;
  transition: 2s;
}

.contentblue img:hover {
  transform: scale(1.1);
  transition: 2s;
}

.contentwhite {
  color: #3eafa8;
}

.contentwhite h2 {
  font-size: 30px;
  padding: 5px;
  margin-top: 19px;
}

.contentwhite img {
  width: 180px;
  height: 180px;
  transition: 2s;
}

.contentwhite img:hover {
  transform: scale(1.1);
  transition: 2s;
}

.contentgray h2 {
  font-size: 30px;
  padding: 5px;
}

.contentgray img {
  width: 200px;
  height: 200px;
  transition: 2s;
}

.contentgray img:hover {
  transform: scale(1.1);
  transition: 2s;
}

.cont-frame-text {
  font-size: 50px;
}

.text-animated {
  font-size: 100px !important;
  text-shadow: black 12px 0px 20px;
}

.technology {
  background-image: url(./assets/BGAIR.png);
}
