
.bann-container {
display: flex;
margin: 0;
padding: 0px;
width: 100%;
height: 100%;
margin-top: 50px;
}
/* 1sect */

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 103vh;
    padding: 0 1.3vw;
    margin: 0%;

}
.image-cont img{
    margin-top: 50px;

    object-fit: cover;
}
.main-container div {
    height: 100%;
    width: 50%;
    display: flex;
    margin: 2px;
    justify-content: center;
}

.main-content {

    color: #3eafa8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 , 20%;
}

.main-content p{display: flex;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.main-content h1 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}
.main-container .slider-box{
    max-width: 100%;
    object-fit: contain;

}
.main-container .slider-box2{
    max-width: 100%;
    object-fit: contain;
}
.main-container .slider-box3{
    max-width: 100%;
    object-fit: contain;
}
/* 2sect */
.main-content2 {

    color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 , 20%;

}
.main-content2 p{display: flex;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    margin-top: 35px;
    margin:10px ;
    }

.main-content2 h1 {
        font-size: 42px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
        text-decoration: underline;
}
/* 3sect */
.main-content3 {

    color: #3eafa8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 0 , 10%;

}
.main-content3 h1 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 75px;
    text-decoration: underline;
    
}
.main-container3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    padding: 0 5vw;
    margin: 0%;
    
}
.main-container3 img{
    display: flex;
    padding-top: 95px;
}
.main-container3 div {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.main-content3 p{
    display: flex;
    font-size: 20px;
    flex-direction: column;
    justify-content: start;
    margin-top:40px;
    }
.main-content3 li{
    display: block;
    justify-self: start;;
    list-style: none;
    font-size: 20px;
    margin-top: 60px;
}
.gradientback {

background:linear-gradient(#212529 100%, #3eafa8);
  }
  .gradientback2 {
background:linear-gradient( #3eafa8 100%, #212529);
  }
  .gradientback3 {

background:linear-gradient(#212529 100%, #3eafa8 );
  }
.slider-box {
    width: 100%;
    height: 100%;
    background: url(../assets/assets-tecnologia/cilindro.png);
    margin: 200px auto;
    animation: slide 4s infinite alternate;

}
@keyframes slide {
  25%{background: url(../assets/assets-tecnologia/cilindro.png);}
  50%{background: url(../assets/assets-tecnologia/cilindro1.png);}
  75%{background: url(../assets/assets-tecnologia/cilindro2.png);}
  100%{background: url(../assets/assets-tecnologia/cilindro3.png);}
  }
  .slider-box2 {
    width: 100%;
    height: 100%;
    background: url(../assets/assets-tecnologia/captacion1.png);
    margin: 200px auto;
    animation: slide2 4s infinite alternate;

}
@keyframes slide2 {

  25%{background: url(../assets/assets-tecnologia/captacion1.png);}
  50%{background: url(../assets/assets-tecnologia/captacion2.png);}
  75%{background: url(../assets/assets-tecnologia/captacion3.png);}
  100%{background: url(../assets/assets-tecnologia/captacion1.png);}
  }
  .slider-box3 {
    width: 100%;
    height: 100%;
    background: url(../assets/assets-tecnologia/conversion1.png);
    margin: 100px auto;
    animation: slide3 5s infinite alternate;

}

@keyframes slide3 {

  25%{background: url(../assets/assets-tecnologia/conversion1.png);}
  50%{background: url(../assets/assets-tecnologia/conversion2.png);}
  75%{background: url(../assets/assets-tecnologia/conversion3.png);}
  100%{background: url(../assets/assets-tecnologia/conversion1.png);}
  }

.button-up {position: sticky;
    width: 60px;
    height: 60px;
    top: 90%;
    left: 90%;
    transform: rotate(270deg);
    background-color:#19857d;
    border-radius: 50%;
    transition: 300ms;
}
.button-up a{
position: absolute;
text-decoration: none;
color: aliceblue;
padding: 10px;
top: 5px;
left: 10px;}

.button-up:hover {
    transition: 300ms;
    border-radius: 5px;
}
@media(max-width: 992px){
    .bann-container{
        margin-top: 80px;
        width: 100%;
    }
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
	.content h1{
		font-size: 30px;
		-webkit-text-stroke: 1px white;
		color: transparent;
	}
	.main-content p{
        font-size: 15px;
        text-align: center;
    }
    .main-container div {
        width: 80%;
    }
    /* sect capt de enrgia */
    .main-content2 p{
        font-size: 15px;
        margin: 10px;
    }
    .main-content2 h1{
        text-align: center;
        font-size: 30px;
    }
    .main-content3 p{
        font-size: 10px;
    }
    .main-content3 li{
        margin-top: 60px;
        font-size: 15px;
    }
}
@media(max-width: 768px){
    .bann-container{
        margin-top: 80px;
        width: 100%;
    }
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
	.content h1{
		font-size: 30px;
		-webkit-text-stroke: 1px white;
		color: transparent;
	}
	.main-content p{
        font-size: 15px;
        text-align: center;
    }
    .main-container div {
        width: 80%;
    }
    /* sect capt de enrgia */
    .main-content2 p{
        font-size: 15px;
    }
    .main-content2 h1{
        text-align: center;
        font-size: 30px;
    }

    .main-content3 p{
        font-size: 10px;
    }
    .main-content3 li{
        
        font-size: 15px;
    }
}