@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif ;
}
/* se define contenedor principal color de fondo y medidas*/
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)); 
    background-position: center;
    background-size: cover; 
}
/* contenedor del titulo */
.content {
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1 {
    margin-top: 80px;
    font-size: 90px;
    font-weight: 800;
    -webkit-text-stroke: 2px white;
    color: transparent;
}
/* boton */
button {
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    color: black;
    border: 2px;
    font-size: 20px;
    font-weight: 600;
}
button a {
    text-decoration: none;
    color: black;
}
button:hover {
    background: rgb(0, 192, 226);
    transition: 0.5s;
}
button:hover {
    background-color: rgb(0, 183, 255);
    box-shadow: 0 0 20px  white ;
    border-color: white;
    transition: 0.2s ease;
}
/* contenedor de video */
.banner video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    .banner video {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 1900px) {
    .banner video {
        width: 120%;
        height: auto;
    }
}
@media (max-width: 1500px) {
    .banner video {
        width: 130%;
        height: auto;
    }
}
@media (max-width: 1200px) {
    .banner video {
        width: 240%;
        height: auto;
    }
}
@media (max-width: 860px) {
    .banner video {
        width: 230%;
        height: auto;
    }
}
@media (max-width: 690px) {
    .content h1 {
        font-size: 70px;
    }
    .banner video {
        width: 290%;
        height: auto;
    }
}
@media (max-width: 530px) {
    .content h1 {
        font-size: 55px;
        -webkit-text-stroke: 0.8px white;
    }
    .banner video {
        width: 395%;
        height: auto;
    }
}
@media (max-width: 390px) {
    .content h1 {
        font-size: 55px;
        -webkit-text-stroke: 0.8px white;
    }
    .banner video {
        width: 410%;
        height: auto;
    }
}