* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.twopart {
  background: white;
}

.part1 {
  background: #00415d;
}

.content1 h2 {
  font-size: 33px;
  padding: 5px;
}

.content1 p {
  font-size: 23px;
  padding: 20px;
  animation: fade-up 0.4s;
}

.content2 h2 {
  font-size: 33px;
  padding: 5px;
}

.content2 p {
  font-size: 23px;
  padding: 20px;
  animation: fade-up 0.4s;
}

.gal img {
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gal .hover {
  width: 0%;
  height: 100%;
  background-color: #080808bb;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hover h2 {
  color: white;
  text-shadow: 1px 1 px 1px black;
  font-size: 30px;
  text-transform: uppercase;
}

.gal:hover .hover {
  width: 100%;
}

.contenttext {
  background: #00415d;
}

.contenttext h2 {
  color: white;
  font-size: 33px;
}

.contenttext p {
  color: white;
  font-size: 23px;
  animation: fade-up 0.4s;
}

.carousel {
  width: 100%;
}

.partblue {
  background: #00415d;
}

.partblue img {
  padding: 10px;
  width: 200px;
  height: 200px;
  transition: 2s;
}

.partblue img:hover {
  transform: scale(1.1);
  transition: 2s;
}

@media (max-width: 1024px) {
  .gal:hover .hover {
    width: 0%;
  }
}

@media (max-width: 1024px) {
  .partblue img:hover {
    transform: none;
  }
}

@media (max-width: 350px) {
  .banner {
    margin-top: 50px;
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
