.textContacto{
    text-align: center;
	color: white;
}
*{box-sizing:border-box;}
form{
	font-size: 20px;
	font-family: sans-serif;
	max-width:800px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background: linear-gradient(to bottom, #00435f, #002d40);
	/* background-color:#9ab9c6; */
	margin-top: 100px;
	box-shadow: 16px 14px 20px #0000008c;
	border: #7296a4 6px outset;  
}
form label{
	width:100%;
	font-weight:bold;
	display:block;
	color: white;
}
form input[type="text"],
form input[type="email"]{
	width:100%;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:block;
}
form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #9ebecb;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#7296a4;
} 
form input[type="submit"]:hover{
	cursor:pointer;
    background-color: grey;
}
textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block; 
}
.check{
	display: flex;
}
.checkBox{
    width: 100%;
    padding:10px;
} 