@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* LOGO */
.navbarLogo{
    background-color: rgb(212,212,212);
    box-shadow: 0px 5px 20px 5px #0000008c;
}
.bi-wind{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
/* BTN SUBMENU */
.navbar .btnHambur{
    border: none;
}
/* TEXT SUBMENU */
.textSubnav{
    align-items: center;
    font-size: 48px;
    margin-top: 40px;
    a{
    font-family: 'Roboto', sans-serif !important;
    color: #fff !important;
    }
}
/* HOVER EN TEXT SUBMENU */
.textSubnav li a:hover {
    color: #369 !important;
    font-size: 1.1em;
    color: #fff;
}
.btn-close:hover {
    transform: rotate(180deg);
    transition: transform 0.4s ease;
}
/* FOTO SUBMENU */
#offcanvasNavbar{
    width: 750px;
    background-image: url('../assets/assets-home/ENERVIENTO-RESPONSIVE.png'); 
    background-size: cover; 
    background-position: center center;
    border: none;
}
/* BTN PARA CERRAR SUBMENU */
.offcanvas .btn-close {
    position: absolute;
    top: 30px;
    right: 25px;
}



